@{
	ViewData["Title"] = "ETÜ";
}
			@using DMBD.Kernel.DTOs;
			@model DMBD.Kernel.DTOs.StudentDto
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderContent {

	<p style="font-size: large;">Ders Muafiyet Başvuru Ekranı</p>
}

@* POPUP icin onemli*@

<html lang="tr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Popup Example</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>

<!--sayfa düzeni için container-->
<div class="container-fluid d-flex justify-content-center align-items-center">
	<div class="row justify-content-center">
		<!--SOL BLOK BAŞLANGIÇ-->
		<div class="col-12 col-md-8">
			<div class="box" style="background-color: #f0f9ff; border: 2px solid #bad1da; border-radius: 10px;">
				<!--ÖĞRENCİ BİLGİLERİ BAŞLANGICI-->
				<div class="container-student">
					<h5>Öğrenci Bilgileri</h5>
					<br><br>
					<!--FORM BAŞLANGICI -->
					<!--<form action="action1.php">-->
					<form asp-action="Save" method="post" asp-controller="Student" class="row g-3">
						<div class="col-md-6">
							<label asp-for="Name" class="form-label">Ad</label>
							<input asp-for="Name" class="form-control" required maxlength="50" pattern="^[A-Za-zğüşöçİĞÜŞÖÇ\s]{2,}$" title="Ad bilgisi en az 2 karakter olmalı ve özel karakterler veya rakamlar içermemelidir." />

							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="col-md-6">

							<label asp-for="Surname" class="form-label">Soyad</label>
							<input asp-for="Surname" class="form-control" required maxlength="50" pattern="^[A-Za-zğüşöçİĞÜŞÖÇ\s]{2,}$" title="Ad bilgisi en az 2 karakter olmalı ve özel karakterler veya rakamlar içermemelidir." />
							<span asp-validation-for="Surname" class="text-danger"></span>
						</div>

						<div class="col-md-6">
							<label asp-for="TcNo" class="form-label">Tc Kimlik Numarası</label>
							<input asp-for="TcNo" class="form-control" id="TcNoInput" onchange="setStudentId()" required maxlength="11" pattern="^[1-9]\d{10}$" />
							<span asp-validation-for="TcNo" class="text-danger"></span>
						</div>

						<script>
							function setStudentId() {
								var tcNo = document.getElementById("TcNoInput").value;
								document.getElementById("StudentIdInput").value = tcNo;
							}
						</script>

						<input asp-for="StudentId" type="hidden" id="StudentIdInput" />

						<div class="col-md-6">
							<label asp-for="StudentNo" class="form-label">Öğrenci Numarası</label>
							<input asp-for="StudentNo" class="form-control" minlength="2" />
							<span asp-validation-for="StudentNo" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="MailAddress" class="form-label">E-Posta Adresi</label>
							<input asp-for="MailAddress" class="form-control" required placeholder="isim.soyisimSayi@erzurum.edu.tr" />
							<span asp-validation-for="MailAddress" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="PhoneNumber" class="form-label">Telefon Numarası</label>
							<input asp-for="PhoneNumber" id="phoneNumberInput" class="form-control" required pattern="\d+" onchange="formatPhoneNumber(this)" />
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>

						<script>
							function formatPhoneNumber(input) {
								var phoneNumber = input.value.replace(/\D/g, '');
								if (phoneNumber.length > 11) {
									alert('Telefon numarası 11 haneden fazla olamaz.');
									phoneNumber = phoneNumber.substr(0, 11);
								}
								if (phoneNumber.length === 10) {
									input.value = '0(' + phoneNumber.substr(0, 3) + ') ' + phoneNumber.substr(3, 3) + ' ' + phoneNumber.substr(6, 2) + ' ' + phoneNumber.substr(8, 2);
								} else if (phoneNumber.length === 11) {
									input.value = '0(' + phoneNumber.substr(0, 3) + ') ' + phoneNumber.substr(3, 3) + ' ' + phoneNumber.substr(6, 2) + ' ' + phoneNumber.substr(8, 2);
								}
							}
						</script>

						<@* script>
							function formatPhoneNumber(input) {
								var phoneNumber = input.value.replace(/\D/g, '');
								if (phoneNumber.length === 10) {
									input.value = '0(' + phoneNumber.substr(0, 3) + ') ' + phoneNumber.substr(3, 3) + ' ' + phoneNumber.substr(6, 2) + ' ' + phoneNumber.substr(8, 2);
								} else if (phoneNumber.length === 11) {
									input.value = '0(' + phoneNumber.substr(0, 3) + ') ' + phoneNumber.substr(3, 3) + ' ' + phoneNumber.substr(6, 2) + ' ' + phoneNumber.substr(8, 2) + ' ' + phoneNumber.substr(10, 1);
								}
							}
						</script> *@
						<div class="col-md-6">
							<label asp-for="RegisterType" class="form-label">Kayıtlanma Şekli</label>
							<select asp-for="RegisterType" class="form-control" id="RegisterType" required style="border: 2px solid #bad1da; border-radius: 10px;">
								<option disabled selected value="">Select</option>
								<option value="1">YKS</option>
								<option value="2">DGS</option>
								<option value="3">Ek Madde-1</option>
								<option value="4">AGNO ile Merkezi Yatay Geçiş</option>
							</select>
							<span asp-validation-for="RegisterType" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="PreSchoolName" class="form-label">Önceki Üniversite Bilgisi</label>
							<input asp-for="PreSchoolName" class="form-control" required />
							<span asp-validation-for="PreSchoolName" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="PreFacultyName" class="form-label">Önceki Fakülte Bilgisi</label>
							<input asp-for="PreFacultyName" class="form-control" required />
							<span asp-validation-for="PreFacultyName" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="PreDepartmentName" class="form-label">Önceki Departman Bilgisi</label>
							<input asp-for="PreDepartmentName" class="form-control" required />
							<span asp-validation-for="PreDepartmentName" class="text-danger"></span>
						</div>
						<div class="col-md-6">
							<label asp-for="DepartmentName" class="form-label">Başvurulacak Departman Bilgisi</label>
							<select class="form-control" id="DepartmentSelect" onchange="setDepartmentDetails()" required>
								@foreach (var var in ViewBag.Departments)
								{
									<option value="@var.DepartmentName">@var.DepartmentName</option>
								}
							</select>
							<input type="hidden" id="DepartmentIdInput" name="DepartmentId" />
							<input type="hidden" id="DepartmentNameInput" name="DepartmentName" />
						</div>

						<script>

							function setDepartmentDetails() {
								var select = document.getElementById("DepartmentSelect");
								var selectedOption = select.options[select.selectedIndex];
								var departmentName = selectedOption.value; // option elementinin value attribute'undan departmentName'i al

								// Seçilen departmentName'e karşılık gelen ID'yi bulmak için, ViewBag.Departments listesinde döngü yapabilirsiniz
								var departmentId;
							@foreach (var department in ViewBag.Departments)
							{
								<text>
																										if ("@department.DepartmentName" === departmentName) {
										departmentId = "@department.Id";
									}
								</text>
							}

									document.getElementById("DepartmentIdInput").value = departmentId;
								document.getElementById("DepartmentNameInput").value = departmentName;
							}

						</script>

						@* <script>
						function setDepartmentDetails() {
						var select = document.getElementById("DepartmentSelect");
						var selectedOption = select.options[select.selectedIndex];
						var departmentId = selectedOption.value;
						var departmentName = selectedOption.text;

						document.getElementById("DepartmentIdInput").value = departmentId;

						}
						</script> *@

						<!--EKLER BAŞLANGIÇ-->

						<div class="container">
							<h5>Ekler</h5>

							<div class="container row g-2">
								<div class="col-sm">
									<br />
									<label for="">*Not Döküm Belgesi (Onaylı PDF)</label>
									<br>
									<input type="file" accept=".pdf" required>
								</div>
								<div class="col-sm">
									<br />
									<label for="">*Ders İçerikleri (Onaylı PDF)</label>
									<br>
									<input type="file" accept=".pdf" required>
								</div>
								<br><br>
							</div>

						</div>
						<!--EKLER BİTİŞ-->

						<!--Checkbox-->
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">
								Yukarıdaki bilgileri okudum ve onaylıyorum.
							</label>
						</div>

						<script>
							// Sayfa yüklendiğinde checkbox durumunu kontrol et
							$(document).ready(function () {
								// Checkbox durumunu dinle
								$('#flexCheckDefault').change(function () {
									// Checkbox seçili ise
									if ($(this).is(':checked')) {
										// Kaydet butonunu etkinleştir
										$('#showPopup').prop('disabled', false);
									} else {
										// Checkbox seçili değilse, kaydet butonunu devre dışı bırak
										$('#showPopup').prop('disabled', true);
									}
								});

								// Sayfa yüklendiğinde checkbox durumunu ilk kez kontrol et
								if ($('#flexCheckDefault').is(':checked')) {
									$('#showPopup').prop('disabled', false);
								} else {
									$('#showPopup').prop('disabled', true);
								}
							});
						</script>
						<!--Checkbox bitiş-->


						<div class="col-12  text-end">
							<button type="submit" id="showPopup" href="@Url.Action("Subject", "Subject")" class="btn btn-primary"> Kaydet </button>
						</div>

					</form>
					<!--FORM BİTİŞİ-->
				</div>
				<!--ÖĞRENCİ BİLGİLERİ BİTİŞİ-->
			</div>
		</div>
	</div>
	<!--SOL BLOK BİTİŞ-->
	<!--KAYDEDILEN DERS BILGILERI BİTİŞ-->
	@* SCRIPTS *@

	<script>
		$(document).ready(function () {
			var message = '@TempData["ErrorMessage"]'; // TempData'dan mesajı al

			if (message) {
				$.alert({
					title: 'Kayıt Durumu!',
					content: message,
				});
			}
		});
	</script>

	<script>
		document.getElementById('userInfoForm').addEventListener('submit', function (event) {
			event.preventDefault(); // Formun submit işlemini durdur

			//kullanıcı bilgilerini al

			var preschool = document.getelementbyıd('preschool').value;
			var prefaculty = document.getelementbyıd('prefac').value;
			var department = document.getelementbyıd('departmentname').value;

			//kullanıcı bilgilerini ikinci sayfaya gönder
			window.location.href = "Index.cshtml";
		});

	</script>

	@* TempData PopUp Mesajlari *@
	<!--FORM BİTİŞİ-->
</div> <!--container-fluid-->
