@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	ViewData["Title"] = "StudentDto";
}

@model DMBD.Kernel.DTOs.StudentDto

@section HeaderContent {
	<p style="font-size: large;">Yönetim Paneli Ekranı</p>
}


<div class="container-application">
	<div class="row">
		<h3 class="text-mainpanel">Öğrenci Başvuruları</h3>
		<br />
		<div class="col-md-5 col-sm-12">
			<!-- Küçük ekranlarda alt alta gelmesi için col-sm-12 sınıfını ekledim -->
			
			<div class="student-app">
				<table class="table-student">
					<thead>
						<tr>
							<th scope="col">Adı</th>
							<th scope="col">Soyadı</th>
							<th scope="col">E-Mail</th>
							<th scope="col">Telefon</th>
							<th scope="col">Araçlar</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var student in ViewBag.Applications)
						{
							<tr>
								<td>@student.Name</td>
								<td>@student.Surname</td>
								<td>@student.MailAddress</td>
								<td>@student.PhoneNumber</td>
								<td>
									<form id="getTcno" asp-action="GetSubject" asp-controller="Student" method="post">
										<input type="hidden" name="TcNo" value="@student.TcNo" />
										<input type="hidden" name="Id" value="@student.Id" />
										<button type="submit" class="btn btn-danger">Detay</button>
									</form>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
		<!--col-->

		<div class="col-md-6 col-sm-12">
			<div class="detail">
				<h5 class="text-mainpanel">Öğrenci Detay Ekranı</h5>
				<table class="table-student">
					<thead>
						<tr>
							<th scope="col">Adı</th>
							<th scope="col">Soyadı</th>
							<th scope="col">E-Mail</th>
							<th scope="col">Kayıtlanma Şekli</th>
							<th scope="col">Önceden Okuduğu Üniversite</th>
							<th scope="col">Fakülte</th>
							<th scope="col">Bölüm</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@ViewBag.Name</td>
							<td>@ViewBag.Surname</td>
							<td>@ViewBag.MailAddress</td>
							<td>@ViewBag.RegisterTypeText</td>
							<td>@ViewBag.PreSchoolName</td>
							<td>@ViewBag.PreFacultyName</td>
							<td>@ViewBag.PreDepartmentName</td>
						</tr>
					</tbody>
				</table>
				<br>
				<h5 class="text-mainpanel">Saydırmak İstenen Dersler</h5>
				<table class="table-student">
					<thead>
						<tr>
							<th scope="col">Ders Adı</th>
							<th scope="col">Kredi</th>
							<th scope="col">AKTS</th>
							<th scope="col">ETÜ Ders Adı</th>
							<th scope="col">Kredi</th>
							<th scope="col">AKTS</th>
						</tr>
					</thead>
					<tbody>
						@{
							if (ViewBag.SubjectList != null)
							{
								@foreach (var subject in ViewBag.SubjectList)
								{
									<tr>
										<td>@subject.SubjectName</td>
										<td>@subject.SubjectCredit</td>
										<td>@subject.SubjectAkts</td>
										<td>@subject.ExemptSubjectName</td>
										<td>@subject.ExemptSubjectCredit</td>
										<td>@subject.ExemptSubjectAkts</td>
									</tr>
								}
							}
						}

					</tbody>
				</table>
			</div>
			<!--detail-->
		</div>
		<!--col-->
	</div>
	<!--row-->
</div>
<!--container-application-->

<script>
	//document.getElementById('getTcno').addEventListener('submit', function () {
	//	var tcNo = document.getElementById('getTcno').elements['TcNo'].value;
	//	// TempData'ya tcNo'yu atama işlemi
	//	TempData['TcNo'] = tcNo;
	//});




	document.getElementById('getTcno').addEventListener('submit', function (event) {
		event.preventDefault(); // Formun varsayılan gönderimini engelle

		var tcNo = document.getElementById('getTcno').elements['TcNo'].value;
		// TempData'ya tcNo'yu atama işlemi
		TempData['TcNo'] = tcNo;

		// İsteğe bağlı olarak, form gönderiminden sonra menüyü yeniden görünür hale getirin
		var drawerMenu = document.querySelector('.drawer-menu');
		drawerMenu.style.display = 'block';

		// İsteğe bağlı olarak, formu JavaScript ile göndermek için aşağıdaki satırı açabilirsiniz
		// this.submit(); // Formu programatik olarak göndermek için bu satırı açın
	});
</script>
