@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	ViewData["Title"] = "StudentDto";
}

@model DMBD.Kernel.DTOs.StudentDto

@section HeaderContent {
	<p style="font-size: large;">Yönetim Paneli Ekranı</p>
}

<!--İÇERİK BAŞLANGICI-->

<div class="container-application">
	<h3 class="text-mainpanel">Öğrenci Başvuruları</h3>
	<div class="container-split">
		<div class="row">
			<form asp-action="List" method="get" asp-controller="StudentDto">
				<div class="col-sm-7">
					<div class="detail"></div>
					<table class="table-student">
						<thead>
							<tr>
								<th scope="col">Adı</th>
								<th scope="col">Soyadı</th>
								<th scope="col">E-Mail</th>
								<th scope="col">Telefon</th>
								<th scope="col">Araçlar</th>
							</tr>
						</thead>

						<tbody>
							@foreach (var student in ViewBag.Applications)
							{
								<tr>
									<td>@student.Name</td>
									<td>@student.Surname</td>
									<td>@student.MailAddress</td>
									<td>
										<a href="@Url.Action("Detail", "AdminPanel", new { id = student.Id })" class="btn btn-danger">Detay</a>
									</td>
									<td>
										<button type="button" onclick="detail(@student.Id)" class="btn btn-primary">Detay</button>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<!--col-->
				<div class="col-sm-5">
					<div class="detail">
						<h5 class="text-mainpanel">Öğrenci Detay Ekranı</h5>
						<table class="table-student">

							<tr>
								<th scope="col">Adı</th>
								<td><input asp-for="Name" class="form-control" readonly disabled /></td>
							</tr>
							<tr>
								<th scope="col">Soyadı</th>
								<td><input asp-for="Surname" class="form-control" readonly disabled /></td>
							</tr>
							<tr>
								<th scope="col">E-Mail</th>
								<td><input asp-for="MailAddress" class="form-control" readonly disabled /></td>
							</tr>
							<tr>
								<th scope="col">Kayıtlanma Şekli</th>
								<td><input id="RegisterType" class="form-control" readonly disabled /></td>
							</tr>
							<tr>
								<th scope="col">Önceden Okuduğu Üniversite</th>
								<td><input asp-for="PreSchoolName" class="form-control" readonly disabled /></td>
							</tr>
							<tr>
								<th scope="col">Fakülte</th>
								<td><input asp-for="PreFacultyName" class="form-control" readonly disabled /></td>
							</tr>
							<tr>
								<th scope="col">Bölüm</th>
								<td><input asp-for="PreDepartmentName" class="form-control" readonly disabled /></td>
							</tr>
							
						</table>
						<br>
						<h5 class="text-mainpanel">Saydırmak İstenen Dersler</h5>
						<table class="table-student">
							<tr>
								<th scope="col">Ders Adı</th>
								<td></td>
							</tr>
							<tr>
								<th scope="col">Kredi</th>
								@*<td><input asp-for="ExemptSubjectCredit" class="form-control" id="ExemptSubjectCredit" disabled readonly /></td>*@
							</tr>

							<tr>
								<th scope="col">AKTS</th>
								@*<td><input asp-for="ExemptSubjectAkts" class="form-control" id="ExemptSubjectAkts" disabled readonly /></td>*@
							</tr>

							<tr></tr>
						</table>
					</div>
					<!--detail-->
				</div>
				<!--col-->
			</form>
		</div>
		<!--row-->
	</div>
	<!--container-split-->
</div>
<!--container-application-->

<script>
    function detail(studentId) {
        // Öğrenci detaylarını getirmek için AJAX isteği yapabilirsiniz
        $.ajax({
            url: '@Url.Action("Detail", "AdminPanel")',
            type: 'GET',
            data: { id: studentId },
            success: function (data) {
                // Başarılı cevap geldiğinde yapılacak işlemler
                $('#Name').val(data.Name);
                $('#Surname').val(data.Surname);
                $('#MailAddress').val(data.MailAddress);   
                $('#RegisterType').val(data.EnrollmentType);
                $('#PreSchoolName').val(data.PreSchoolName);
                $('#PreFacultyName').val(data.PreFacultyName);
                $('#PreDepartmentName').val(data.PreDepartmentName);
                $('#ExemptSubjectName').val(data.ExemptSubjectName);
                $('#ExemptSubjectCredit').val(data.ExemptSubjectCredit);
                $('#ExemptSubjectAkts').val(data.ExemptSubjectAkts);
            },
            error: function (xhr, status, error) {
                // Hata durumunda yapılacak işlemler
                console.error(error);
            }
        });
    }
</script>