﻿@using DMBD.Kernel.DTOs
@model DMBD.Kernel.DTOs.SubjectDto

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderContent {
	<p style="font-size: large;">Ders Muafiyet Başvuru Ekranı</p>
}


<!--sayfa düzeni için container-->
<div class="container-fluid d-flex justify-content-center align-items-center">
	<div class="row justify-content-center">
		<div class="col-12 col-md-8 ">
			<div class="box-subject" style="background-color: #f0f9ff; border: 2px solid #bad1da; border-radius: 10px;">
				
					<h5>Ders Bilgileri</h5>
					<form asp-action="Save" method="post" asp-controller="Subject" class="row g-1">
						<div class="col-md-6">
							<label asp-for="SubjectName" class="form-label">Daha Önce Alınan Ders Adı</label>
							<span asp-validation-for="SubjectName" class="text-danger"></span>
							<br>
							<select asp-for="SubjectName" placeholder="Seçiniz" class="form-control" id="SubjectName" required style="border: 2px solid #bad1da; border-radius: 10px;">
								<option selected value="">Seçiniz</option>
							</select>
							</div>

						<div class="col-md-6">
							<label asp-for="SubjectCredit" class="form-label">Kredisi</label>
							<input asp-for="SubjectCredit" class="form-control" id="SubjectCredit" disabled readonly />
							<span asp-validation-for="SubjectCredit" class="text-danger"></span>
						
						
								<br />
							
							<label asp-for="SubjectAkts" class="form-label">AKTS Bilgisi</label>
							<input asp-for="SubjectAkts" class="form-control" id="SubjectAkts" disabled readonly />
							<span asp-validation-for="SubjectAkts" class="text-danger"></span>	
							</div>
							
							
							
					

						@if (TempData["SuccessMessage"] != null)
						{
							<div class="alert alert-success" role="alert">
								@TempData["SuccessMessage"]
							</div>
						}

					<hr />
						<div class="col-md-6">
						
							<label asp-for="ExemptSubjectName" class="form-label">Muaf Olunması İstenen Ders Adı</label>
							<br>
							<select asp-for="ExemptSubjectName" class="form-control" id="ExemptSubjectName" required style="border: 2px solid #bad1da; border-radius: 10px;">
								<option selected value="">Seçiniz</option>
								<option value="ders1">Ders1 Örneği fsdmfnösdmnfmösdnfömsdnfödsnfmsdnfmndfmdmöfndsöfnömdsnff</option>
								<option value="ders2">Ders2 Örneği</option>
								<option value="ders3">Ders3 Örneği</option>
								<option value="ders4">Ders4 Örneği</option>
							</select>
						</div>


						<div class="col-md-6">
							<label asp-for="ExemptSubjectCredit" class="form-label">Kredi</label>
							<input asp-for="ExemptSubjectCredit" class="form-control" id="ExemptSubjectCredit" disabled readonly />
							<span asp-validation-for="ExemptSubjectCredit" class="text-danger"></span>
						
							<br />

							<label asp-for="ExemptSubjectAkts" class="form-label">AKTS</label>
							<input asp-for="ExemptSubjectAkts" class="form-control" id="ExemptSubjectAkts" disabled readonly />
							<span asp-validation-for="ExemptSubjectAkts" class="text-danger"></span>
						</div>

						
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
							<input class="btn" type="submit" value="Dersi Ekle" style="background-color: #456097; color: white; border: 2px solid #bad1da; border-radius: 10px;">
						</div>

						</form>

					

			
			</div><!--box-->
		</div><!--col-12 col-md-8-->
	</div><!--row justify-content-center-->
</div><!--container-fluid d-flex justify-content-center align-items-center-->

<!--KAYDEDILEN DERS BILGILERI BAŞLANGI-->

<div class="container-fluid d-flex justify-content-center align-items-center">
	<div class="row-subject justify-content-center">
		<div class="col-12 col-md-8 ">
			<div class="box-subject" style="background-color: #d1e4f2; border: 2px solid #bad1da; border-radius: 10px;">
			@*<div class="specific-container d-flex justify-content-center align-items-center">*@
			
					<h5>Kaydedilen Ders Bilgileri</h5>
				<div class="specific-container d-flex justify-content-center ">
					

						<table class="table-subject  mx-auto" id="registeredCourse">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Ders Kodu</th>
									<th scope="col">Muaf Olunmak İstenen Ders</th>
									<th scope="col">Kredi</th>
									<th scope="col">AKTS</th>
								</tr>
							</thead>
							<tbody>
								@*@foreach (var course in SubjectDto)
								{
								<tr>
								<th scope="row">@course.CourseId</th>
								<td>@course.CourseCode</td>
								<td>@course.CourseName</td>
								<td>@course.Credit</td>
								<td>@course.AKTS</td>
								</tr>
								}*@
							</tbody>
						</table>

					
						


				</div>
			</div><!--box-->
		</div><!--col-12 col-md-8-->
	</div><!--row justify-content-center-->
</div><!--container-fluid d-flex justify-content-center align-items-center-->


<div class="d-grid gap-2 d-md-flex justify-content-md-end">
	<button class="btn btn-primary me-md-2" onclick="pdf()" type="button" style="background-color: #456097; color: white; border: 2px solid #bad1da; border-radius: 10px;">Sonraki Sayfa</button>

	<script>
		function pdf() {
			window.location.href = "/Home/PdfScreen";
		}
	</script>


</div>
<!--KAYDEDILEN DERS BILGILERI BİTİŞ-->

